.contacts {
   display: none;
   @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      margin-left: 83px;
   }
   @include desktop {
      display: flex;

      gap: 30px;
      margin-left: 322px;
   }
}

.contacts__link {
	      @include line-up;
   @include fontWSL(500, 12, 1.17);
   letter-spacing: 0.02em;
   color: inherit;
   

   @include desktop {

      padding-top: 32px;
      padding-bottom: 32px;
      @include fontWSL(500, 14, 1.14);
   }

   transition: color $durationTiming;

   &:hover,
   &:focus {
      color: $accentColor;
   }
}

.contacts__icon {
   margin-right: 10px;

   fill: currentColor;

   &:hover,
   &:focus {
      fill: $accentColor;
   }
}
