.mob-menu-open,
.mob-menu-close {
   margin-left: auto;

   height: 40px;

   background-color: transparent;
	@include tablet {
			display: none;
		}
}





.mob-menu {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;

   padding: 48px 25px;
   width: 100vw;
   height: 100vh;

   background-color: $primaryWhiteColor;
	opacity: 1;

   transition: background-color $durationTiming,
      opacity $durationTiming;
		
		&>.container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
}

.is-hidden {
		opacity: 0;
		pointer-events: none;
		}

.mob-menu-close {
   position: absolute;
   top: 10px;
   right: 15px;
}

.mob-menu-close {
   fill: #000;
   transition: fill $durationTiming;
   &:hover,
   &:focus {
      fill: $accentColor;
   }
}

.mob-site-nav {
   display: flex;
   flex-flow: column;
   gap: 32px;

   margin-bottom: 32px;

   @include fontWSL(500, 40, 1.18);
   letter-spacing: 0.02em;
}

.mob-site-nav__link {
   color: $titleTextColor;
   transition: color $durationTiming;
   &:hover,
   &:focus {
      color: $accentColor;
   }
	&.current--link {
		color: $accentColor;
	}
}

.mob-contacts {
   display: flex;
   flex-direction: column;
   gap: 32px;

   margin-bottom: 64px;
}

.mob-contacts__link {
   color: $accentColor;
   @include fontWSL(500, 34, 1.18);
   letter-spacing: 0.02em;
}

.mob-contacts__link.mail {
   color: $primaryTextColor;
   @include fontWSL(500, 28, 1.17);
}

.mob-social {
	display: flex;
	
}
.mob-social__item {
	border-left: 1px solid rgba(33, 33, 33, 0.2);
	&:first-child {
		border-left: none;
	}
}
.mob-social__link {
	padding-left: 10px;
	padding-right: 10px;
	color: $accentColor;
   @include fontWSL(500, 18, 1.22);
   letter-spacing: 0.02em;
	&.no-paddig-left {
		padding-left: 0;
	}
}
